## 1. Importing Data

In [218]:
import pandas as pd
import numpy as np
import os

In [219]:
path = r'/Users/mdiaz/Desktop/NWWS data/Data'

In [220]:
path

'/Users/mdiaz/Desktop/NWWS data/Data'

In [221]:
df = pd.read_csv(os.path.join(path, 'Original', '12.27.22 Wastewater_Metric_Data.csv'),index_col = False)

## 2. Exploring data

In [222]:
df.shape

(1334, 16)

In [223]:
df.info

<bound method DataFrame.info of      wwtp_jurisdiction  wwtp_id reporting_jurisdiction  sample_location  \
0               Hawaii      710                 Hawaii  Treatment plant
1             Maryland      547               Maryland  Treatment plant
2             New York      426               New York  Treatment plant
3               Oregon      932                 Oregon  Treatment plant
4               Oregon      956                 Oregon  Treatment plant
...                ...      ...                    ...              ...
1329           Montana      977                Montana  Treatment plant
1330            Oregon      950                 Oregon  Treatment plant
1331     West Virginia      735          West Virginia  Treatment plant
1332        California     1709             California  Treatment plant
1333             Texas     1683                  Texas  Treatment plant

      sample_location_specify  \
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
...                       ...
1329                      NaN
1330                      NaN
1331                      NaN
1332                      NaN
1333                      NaN

                                           key_plot_id     county_names  \
0     CDC_BIOBOT_hi_710_Treatment plant_raw wastewater            Kauai
1     CDC_BIOBOT_md_547_Treatment plant_raw wastewater           Howard
2           NWSS_ny_426_Treatment plant_raw wastewater           Orange
3           NWSS_or_932_Treatment plant_raw wastewater        Deschutes
4           NWSS_or_956_Treatment plant_raw wastewater          Jackson
...                                                ...              ...
1329        NWSS_mt_977_Treatment plant_raw wastewater  Lewis And Clark
1330        NWSS_or_950_Treatment plant_raw wastewater        Josephine
1331        NWSS_wv_735_Treatment plant_raw wastewater           Taylor
1332        WWS_ca_1709_Treatment plant_primary sludge   San Bernardino
1333        WWS_tx_1683_Treatment plant_primary sludge           Dallas

     county_fips  population_served  date_start    date_end  ptc_15d  \
0          15007              10000  2022-12-27  2023-01-10   5649.0
1          24027             270000  2022-12-27  2023-01-10    -48.0
2          36071               6729  2022-12-27  2023-01-10    -99.0
3          41017              92850  2022-12-27  2023-01-10   -100.0
4          41029             133708  2022-12-27  2023-01-10    -70.0
...          ...                ...         ...         ...      ...
1329       30049              37125  2022-12-27  2023-01-10    192.0
1330       41033              37725  2022-12-27  2023-01-10   -100.0
1331       54091               6071  2022-12-27  2023-01-10    -95.0
1332       06071             890000  2022-12-27  2023-01-10    -23.0
1333       48113             186000  2022-12-27  2023-01-10      2.0

      detect_prop_15d  percentile sampling_prior first_sample_date
0               100.0      27.500             no        2022-05-03
1               100.0      52.800             no        2022-11-28
2                75.0      53.250            yes        2022-01-04
3               100.0      15.333            yes        2020-09-04
4               100.0      20.333            yes        2020-10-01
...               ...         ...            ...               ...
1329            100.0      59.333            yes        2020-08-10
1330             50.0      11.000            yes        2020-12-21
1331            100.0      83.818             no        2022-02-10
1332            100.0      78.000             no        2022-04-25
1333            100.0      94.500             no        2022-02-27

[1334 rows x 16 columns]>

In [224]:
df.columns

Index(['wwtp_jurisdiction', 'wwtp_id', 'reporting_jurisdiction',
       'sample_location', 'sample_location_specify', 'key_plot_id',
       'county_names', 'county_fips', 'population_served', 'date_start',
       'date_end', 'ptc_15d', 'detect_prop_15d', 'percentile',
       'sampling_prior', 'first_sample_date'],
      dtype='object')

## 3. Dropping columns

In [225]:
df = df.drop(columns = ['reporting_jurisdiction', 'sample_location', 'sample_location_specify', 'key_plot_id', 'county_fips', 'date_end', 'detect_prop_15d', 'sampling_prior', 'first_sample_date'])

In [226]:
df.head(10)

,wwtp_jurisdiction,wwtp_id,county_names,population_served,date_start,ptc_15d,percentile
0,Hawaii,710,Kauai,10000,2022-12-27,5649.0,27.500
1,Maryland,547,Howard,270000,2022-12-27,-48.0,52.800
2,New York,426,Orange,6729,2022-12-27,-99.0,53.250
3,Oregon,932,Deschutes,92850,2022-12-27,-100.0,15.333
4,Oregon,956,Jackson,133708,2022-12-27,-70.0,20.333
5,Indiana,1293,St Joseph,130000,2022-12-27,-82.0,58.000
6,Colorado,1135,Teller,6379,2022-12-27,-61.0,40.600
7,Idaho,1067,Twin Falls,48951,2022-12-27,NaN,NaN
8,Ohio,398,Lucas,372208,2022-12-27,-75.0,85.000
9,Texas,201,Harris,124000,2022-12-27,NaN,NaN

## 4. Renaming columns

In [227]:
df.rename(columns = {'wwtp_jurisdiction': 'state', 'wwtp_id': 'id', 'county_names': 'county names', 'date_start': 'collection date', 'ptc_15d': '15dy percent change'}, inplace = True)

In [228]:
df.head(10)

,state,id,county names,population_served,collection date,15dy percent change,percentile
0,Hawaii,710,Kauai,10000,2022-12-27,5649.0,27.500
1,Maryland,547,Howard,270000,2022-12-27,-48.0,52.800
2,New York,426,Orange,6729,2022-12-27,-99.0,53.250
3,Oregon,932,Deschutes,92850,2022-12-27,-100.0,15.333
4,Oregon,956,Jackson,133708,2022-12-27,-70.0,20.333
5,Indiana,1293,St Joseph,130000,2022-12-27,-82.0,58.000
6,Colorado,1135,Teller,6379,2022-12-27,-61.0,40.600
7,Idaho,1067,Twin Falls,48951,2022-12-27,NaN,NaN
8,Ohio,398,Lucas,372208,2022-12-27,-75.0,85.000
9,Texas,201,Harris,124000,2022-12-27,NaN,NaN

## 5. Data consistency checks

In [229]:
df.describe()

                id  population_served  15dy percent change   percentile
count  1334.000000       1.334000e+03         9.080000e+02  1120.000000
mean    889.458771       1.250120e+05         9.474992e+06   114.986513
std     525.724824       3.165629e+05         1.422970e+08   216.967752
min       1.000000       9.000000e+02        -1.000000e+02     0.000000
25%     437.250000       1.200000e+04        -7.800000e+01    49.333000
50%     891.000000       3.305100e+04        -4.200000e+01    67.143000
75%    1324.500000       9.407250e+04         1.100000e+01    82.667000
max    1809.000000       4.000000e+06         2.147484e+09   999.000000

In [230]:
df.isnull().sum()

state                    0
id                       0
county names             0
population_served        0
collection date          0
15dy percent change    426
percentile             214
dtype: int64

In [231]:
df.shape

(1334, 7)

In [232]:
# Select data without misising values in column 15dy percent change
df_nan = df[df['15dy percent change'].isnull() == False]

In [233]:
df_nan

,state,id,county names,population_served,collection date,15dy percent change,percentile
0,Hawaii,710,Kauai,10000,2022-12-27,5649.0,27.500
1,Maryland,547,Howard,270000,2022-12-27,-48.0,52.800
2,New York,426,Orange,6729,2022-12-27,-99.0,53.250
3,Oregon,932,Deschutes,92850,2022-12-27,-100.0,15.333
4,Oregon,956,Jackson,133708,2022-12-27,-70.0,20.333
...,...,...,...,...,...,...,...
1329,Montana,977,Lewis And Clark,37125,2022-12-27,192.0,59.333
1330,Oregon,950,Josephine,37725,2022-12-27,-100.0,11.000
1331,West Virginia,735,Taylor,6071,2022-12-27,-95.0,83.818
1332,California,1709,San Bernardino,890000,2022-12-27,-23.0,78.000
1333,Texas,1683,Dallas,186000,2022-12-27,2.0,94.500

## 6. Imputing Nan from data set

#Data with new site or Nan does not have any value.

In [234]:
df_nan['15dy percent change'].fillna(0, inplace=True)

/var/folders/dp/hgd07ff102g9k5vqs2psn8_40000gn/T/ipykernel_58198/3651238695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nan['15dy percent change'].fillna(0, inplace=True)

In [235]:
df_nan.shape

(908, 7)

In [236]:
df_nan['15dy percent change'].fillna(0, inplace=True)

/var/folders/dp/hgd07ff102g9k5vqs2psn8_40000gn/T/ipykernel_58198/1974169414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nan['15dy percent change'].fillna(0, inplace=True)

In [237]:
df_nan.shape

(908, 7)

In [238]:
df_nan.describe

<bound method NDFrame.describe of               state    id     county names  population_served collection date  \
0            Hawaii   710            Kauai              10000      2022-12-27
1          Maryland   547           Howard             270000      2022-12-27
2          New York   426           Orange               6729      2022-12-27
3            Oregon   932        Deschutes              92850      2022-12-27
4            Oregon   956          Jackson             133708      2022-12-27
...             ...   ...              ...                ...             ...
1329        Montana   977  Lewis And Clark              37125      2022-12-27
1330         Oregon   950        Josephine              37725      2022-12-27
1331  West Virginia   735           Taylor               6071      2022-12-27
1332     California  1709   San Bernardino             890000      2022-12-27
1333          Texas  1683           Dallas             186000      2022-12-27

      15dy percent change  percentile
0                  5649.0      27.500
1                   -48.0      52.800
2                   -99.0      53.250
3                  -100.0      15.333
4                   -70.0      20.333
...                   ...         ...
1329                192.0      59.333
1330               -100.0      11.000
1331                -95.0      83.818
1332                -23.0      78.000
1333                  2.0      94.500

[908 rows x 7 columns]>

## 7. Merging data with most recent metrics

In [239]:
#Import new df_2
df_2 = pd.read_csv(os.path.join(path, 'Original', '1.12.23 ww_surveillance_data.csv'),index_col = False)

In [240]:
df_2.shape

(1332, 5)

In [241]:
df_2.columns

Index(['state', 'id', 'county names', 'population_served',
       'current percentile levels '],
      dtype='object')

In [242]:
df_merged = df_nan.merge (df_2, on = ['state', 'id', 'county names', 'population_served'], indicator = True)

In [243]:
df_merged

,state,id,county names,population_served,collection date,15dy percent change,percentile,current percentile levels,_merge
0,Hawaii,710,Kauai,10000,2022-12-27,5649.0,27.500,2,both
1,Maryland,547,Howard,270000,2022-12-27,-48.0,52.800,58,both
2,New York,426,Orange,6729,2022-12-27,-99.0,53.250,64,both
3,Oregon,932,Deschutes,92850,2022-12-27,-100.0,15.333,0,both
4,Oregon,956,Jackson,133708,2022-12-27,-70.0,20.333,0,both
...,...,...,...,...,...,...,...,...,...
841,Montana,977,Lewis And Clark,37125,2022-12-27,192.0,59.333,60,both
842,Oregon,950,Josephine,37725,2022-12-27,-100.0,11.000,0,both
843,West Virginia,735,Taylor,6071,2022-12-27,-95.0,83.818,84,both
844,California,1709,San Bernardino,890000,2022-12-27,-23.0,78.000,78,both
845,Texas,1683,Dallas,186000,2022-12-27,2.0,94.500,95,both

In [244]:
# Dropping merged and unnamed columm

df_merged = df_merged.drop(columns = ['_merge'])

In [245]:
df_merged.head()

,state,id,county names,population_served,collection date,15dy percent change,percentile,current percentile levels
0,Hawaii,710,Kauai,10000,2022-12-27,5649.0,27.500,2
1,Maryland,547,Howard,270000,2022-12-27,-48.0,52.800,58
2,New York,426,Orange,6729,2022-12-27,-99.0,53.250,64
3,Oregon,932,Deschutes,92850,2022-12-27,-100.0,15.333,0
4,Oregon,956,Jackson,133708,2022-12-27,-70.0,20.333,0

In [246]:
df_merged.reset_index(drop= True, inplace= True)

In [247]:
df_merged.head()

,state,id,county names,population_served,collection date,15dy percent change,percentile,current percentile levels
0,Hawaii,710,Kauai,10000,2022-12-27,5649.0,27.500,2
1,Maryland,547,Howard,270000,2022-12-27,-48.0,52.800,58
2,New York,426,Orange,6729,2022-12-27,-99.0,53.250,64
3,Oregon,932,Deschutes,92850,2022-12-27,-100.0,15.333,0
4,Oregon,956,Jackson,133708,2022-12-27,-70.0,20.333,0

In [248]:
print(df_merged)

             state    id     county names  population_served collection date  \
0           Hawaii   710            Kauai              10000      2022-12-27
1         Maryland   547           Howard             270000      2022-12-27
2         New York   426           Orange               6729      2022-12-27
3           Oregon   932        Deschutes              92850      2022-12-27
4           Oregon   956          Jackson             133708      2022-12-27
..             ...   ...              ...                ...             ...
841        Montana   977  Lewis And Clark              37125      2022-12-27
842         Oregon   950        Josephine              37725      2022-12-27
843  West Virginia   735           Taylor               6071      2022-12-27
844     California  1709   San Bernardino             890000      2022-12-27
845          Texas  1683           Dallas             186000      2022-12-27

     15dy percent change  percentile  current percentile levels
0                 5649.0      27.500                           2
1                  -48.0      52.800                          58
2                  -99.0      53.250                          64
3                 -100.0      15.333                           0
4                  -70.0      20.333                           0
..                   ...         ...                         ...
841                192.0      59.333                          60
842               -100.0      11.000                           0
843                -95.0      83.818                          84
844                -23.0      78.000                          78
845                  2.0      94.500                          95

[846 rows x 8 columns]

## 8. Exporting merged data

In [253]:
df_merged.to_csv(os.path.join(path, 'Prepared', 'Clean NWWS.csv'))